{% for milestone in milestones %}
    {% if not forloop.counter %}
        <p>今天没有里程碑</p>
    {% endif %}
    <div class="recordBox" name="recordBox"  milesId="{{ milestone.id }}">
        <p>{{ milestone.Date }}</p>
	<i class="icon-remove myDelete"></i>
        <i class="icon-edit myEdit"></i>
        <div class="content">
           <p>{{ milestone.Content }}</p>
        </div>
        <div class="byline">
            <div class="deleteMilestone" title="删除里程碑"></div>
            <div class="editMilestone" title="编辑里程碑"></div>
        </div>
        <br>
    </div>
{% endfor %}

<script type="text/javascript">
    (function ($){
      var handler = $('#msBox_record .recordBox');
      function resetWookmark(){
          handler.wookmark({
          // Prepare layout options.
              autoResize: false, // This will auto-update the layout when the browser window is resized.
              container: $('#msBox_record'), // Optional, used for some extra CSS styling
              offset: 10, // Optional, the distance between grid items
              outerOffset: 25, // Optional, the distance to the containers border
              itemWidth: 200, // Optional, the width of a grid item
              verticalOffset: 25
          });    
      }
      resetWookmark();
      $(".myDelete").click(function(){
         if (confirm("确定删除？")){
            
            var day = $("#everydaylist").data('day');
            var id = $(this).parent().attr("milesid");
            var data = {'id':id};
            $.ajax({
                type: 'POST',
                url: '/enrich/ajax/deletemiles',
                data: data,
                day:day,
                success:function(data){
                    $("#msBox_record").load("/enrich/milestone_history_msBox_record?select_day="+this.day);
                },
            });
         }
      });
      function resetContent($mile){
          var content = $mile.data('content');
          var $parent = $mile.parent();
          if (typeof (content) !== 'undefined'){
              $mile.find('.content').html('<p>'+content+'</p>');
          }
      }
      function changeContent($mile){
         //检查是否有处于编辑状态的里程碑,只能有一个为编辑状态
         var $parent = $mile.parent();
         if(typeof ($parent.data('mile')) !== 'undefined'){
             resetContent($parent.data('mile'));
         }
         $parent.data('mile',$mile)
         var content = $mile.find('.content p').text();
         $mile.data('content',content);
         $mile.find('.content').html('<textarea rows="2"  class="form-control" name="msContent" style="margin-left:8px;padding:0px;width:auto">'+content+'</textarea><button class="btnM btn-success pull-right" type="button">提交</button>');
      }
      $(".myEdit").click(function(){
         if (confirm("确定修改？")){
            var $mile = $(this).parent();
            changeContent($mile);
            $mile.find('button').click(function(){
                var data = {
                    'id':$mile.attr('milesid'),
                    'content':$mile.find('textarea').val()
                }
                var day = $("#everydaylist").data('day');
                console.log(data);
                $.ajax({
                    type: 'POST',
                    url: '/enrich/ajax/updatemiles',
                    data: data,
                    day:day,
                    success:function(data){
                        $("#msBox_record").load("/enrich/milestone_history_msBox_record?select_day="+this.day);
                    },
                });
            });
            resetWookmark();
         }
      });
        // Capture clicks on grid items.
     // handler.click(function(){
        // Randomize the height of the clicked item.
      //  var newHeight = $('img', this).height() + Math.round(Math.random() * 300 + 30);
       // $(this).css('height', newHeight+'px');

        // Update the layout.
       // handler.wookmark();
     // });

    })(jQuery);
</script>
