<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="//cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap.css" rel="stylesheet">
    <link href="//cndwei.sinaapp.com/flat-ui/unknown/css/flat-ui.css" rel="stylesheet">
{#    <link type="text/css" rel="stylesheet" href="/static/css/flat-ui.css" />#}
    <link type="text/css" rel="stylesheet" href="/static/css/enrich.css" />
    <link href="//cndwei.sinaapp.com/jquery.timelinr/unknown/css/timeline.css" rel="stylesheet">
{#    <link type="text/css" rel="stylesheet" href="/static/css/timeline.css"/>#}
    <script src="//cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cndwei.sinaapp.com/jquery.timelinr/unknown/js/jquery.timelinr-0.9.53.js"></script>
{#    <script type="text/javascript" src="/static/javascript/jquery.timelinr-0.9.53.js"></script>#}
    <script type="text/javascript">
        $(function(){
            $().timelinr({
                autoPlay: 'true',
                autoPlayDirection: 'forward',
                startAt: 4
            })
        });
    </script>
</head>

<body>
<div name="msBox_top">
    <div name="msNav" class="navbar navbar-inverse" id="msNav">
        <ul class="nav">
            <li class="active"><a href="#">今天</a></li>
            <li><a href="/enrich/milestone_history">往日</a></li>
        </ul>
    </div>
</div>
<div name="msBox_body" id="msBox_body">
    <div name="msBox_bodyleft" id="msBox_bodyleft">
        <img src="/static/img/2.jpg" id="avatar">
    </div>
    <div name="msBox_bodyright" id="msBox_bodyright">
        <div class="inlet_arrow_bg">&nbsp;</div>
        <form method="post" enctype="multipart/form-data" id="milestone_form">
            <textarea rows="9" cols="70" class="form-control" name="msContent" id="msContent" style="resize: none"></textarea>
            <div>
                <input value="添加里程碑" class="btn btn-success " type="submit" style="margin-top: 10px; float: right" />
            </div>
        </form>
    </div>
</div>
<div id="timeline">
    <ul id="dates">
        {% for ms in milestones %}
            <li><a href="#{{ ms.Date }}">{{ ms.Date }}</a></li>
        {% endfor %}
    </ul>
    <ul id="issues">
        {% for ms in milestones %}
            <li id="{{ ms.Date }}">
                <p>{{ ms.Content }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
<footer>Copyright &copy;2014 by Mingwei Wei</footer>
</body>
</html>