@charset "UTF-8";

body{
    background-color: #f2f2f2;
    background-image: url(/static/img/Blur-6.jpg);
}

#msNav{
    width: 880px;
    margin: auto;
    /*margin-left: 10%;*/
    margin-top: 20px;
}

#msBox_body{
    /*width: 80%;*/
    /*margin-left: 10%;*/
    width: 880px;
    margin: auto;
    min-height: 300px;
    height: 300px;
    margin-top: 20px;
}

#msBox_bodyleft{
    float: left;
    width: 130px;

    height: 300px;
}

#msBox_bodyright{
    float: right;
    width: 745px;
    position: relative;
}

#msBox_record{
    background-color: #34495e;
    border-radius: 6px;
    margin-top: 20px;
    width: 880px;
    float: left;
    position: relative;
}

@keyframes choose_colorChange{
    from{border: 2px solid #bdc3c7;}
    to {border: 2px solid #eaeaea;}
}
@-moz-keyframes choose_colorChange{
    from{border: 2px solid #bdc3c7;}
    to {border: 2px solid #eaeaea;}
}
@-webkit-keyframes choose_colorChange{
    from{border: 2px solid #bdc3c7;}
    to {border: 2px solid #eaeaea;}
}
@-o-keyframes choose_colorChange{
    from{border: 2px solid #bdc3c7;}
    to {border: 2px solid #eaeaea;}
}
#milestone_form{
    width: 725px;
    float: right;
}
#msContent:focus{
    animation:choose_colorChange 0.5s;
    -moz-animation: choose_colorChange 0.5s;
    -webkit-animation: choose_colorChange 0.5s;
    -o-animation: choose_colorChange 0.5s;
    border: 2px solid #eaeaea;
}

.inlet_arrow_bg{
    background: url("/static/img/inlet_arrow_bg.gif") -260px -40px no-repeat;
    width: 14px;
    height: 28px;
    float: left;
    position: absolute;
    left: 8px;
    margin-top: 22px;
    z-index: 999;
}

ul.nav{
    margin-left: 80%;
    text-align: right;
}

.datetimepicker{
	height: 20px;
	width: 863px;
    margin: auto;
    margin-top: 10px;
    /*margin-right: auto;*/
}
.select{
	width: 28px;
	float: left;
	background: #58d68d;
	color:#FFFFFF;
	text-align: center;
	cursor: pointer;
    font-family: "verdana";
    line-height: 20px;
}
.select:hover{
	background: #2495ce;
}
.yearmonth{
	width: 80px;
	float: left;
	background: #ccc;
	margin-left: 2px;
	margin-right: 2px;
	color:#FFFFFF;
	font-family: "verdana";
	font-size: 9px;
	text-align: center;
}
.day{
	float: left;
	margin-left: 30px;

}
#everydaylist{
	font-size:18px;
	padding:0;
 	margin:0;
}

#everydaylist li{
	list-style-image: none;
	list-style-type: none;
	float:left;
	display: block;
	width:20px;
 	background: #cccccc;
 	margin-left: 2px;
 	color: #FFFFFF;
 	font-family: "verdana";
 	font-size: 10px;
 	text-align: center;
 	cursor: pointer;
 	-webkit-transition:margin-top 0.5s,width 0.5s;
	-ms-transition:margin-top 0.5s,width 0.5s;
	-o-transition:margin-top 0.5s,width 0.5s;
	-moz-transition:margin-top 0.5s,width 0.5s;

}

#everydaylist li:hover{
	width:25px;
 	height:22px;
	line-height: 22px;
	margin-top: -6px;
}

footer{
    text-align: center;
    margin-top: 10px;
    background-color: transparent;
}

#mshBox_body{
    width: 880px;
    /*margin-left: 10%;*/
    margin: auto;
}

#mshBox_bodyleft{
    /*float: left;*/
    /*width:65%;*/
    margin: auto;
    position: relative;
}

#mshBox_bodyright{
    float: right;
    margin-top: 10px;
}
#mshBox_bodyleft_recordBox{
    color: #1abc9c;
    font-size: 13px;
    /*margin-top: 15px;*/
    /*margin-left: 20px;*/
    background-color: #ffffff;
    width: 196px;
}
#mshBox_bodyleft_recordBox p{
    font-size: 15px;
    margin: 5px 8px 5px 8px;
}

#avatar{
    /*margin-top: 30px;*/
    height: 130px;
    width: 130px;
}